<!-- <!DOCTYPE html> -->
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<!-- <head> -->
<!-- <meta charset="utf-8"/> -->
<!-- <!-- <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" -->
<!--      th:href="@{css/bootstrap.min.css}"/> -->
<!--      taw teste7a9ou f 	css -->   -->
<!-- <title>Site</title> -->
<!-- </head> -->
<!-- <body> -->

<!-- <form action="site" method="get"> -->
<!-- <label>Mot clé:</label> -->
<!-- <input type="text" name="mc" /> -->
<!-- <input type="submit" value="Chercher" /> -->

<!-- </form> -->


<!-- <div class="spacer"> -->
<!-- <table class="table table-striped" border="3"> -->
<!-- <thead> -->
<!-- <tr> -->
<!-- <th>Site Name</th> -->
<!-- </tr> -->
<!-- </thead> -->

<!-- <tbody> -->
<!-- <tr th:each="a:${pageSite.content}"> -->
<!-- <td th:text ="${a.namesite}"></td> -->
<!-- </tr> -->
<!-- </tbody> -->
<!-- </table> -->


<!-- <div> -->
<!-- 	<ul class="nav"> -->
<!-- 	<li th:each="p:${pages}" th:class="${pageCourante==p}? 'active':''"> -->
<!-- 	<a th:href="@{/chercherSite(page=${p},mc=${mc}) } " th:text="${p}"></a>  -->
<!-- 	</li> -->
<!-- 	</ul> -->
<!-- </div> -->

<!-- </div> -->


<!-- </body> -->
<!-- </html> -->